* {
    box-sizing: border-box;
}

body {
    background-color: rgb(86, 80, 125);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }


/* li = .card in pokedex app  */
li {
    background-color: lavender;
    border: none;
    border-radius: 5px;
    padding: 40px;
    margin: 4px 2px;
    color: black;
    text-transform: capitalize;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    display: grid;
    align-items: center;
    list-style-type: none;
}

/* li:hover {
    animation: bounce 0.5s linear;
    cursor: pointer;
} */

.pokemon-list-item{
    background-color: lavender;
    border: none;
}

.pokemon-list-item:hover {
    animation: bounce 0.5s linear;
    cursor: pointer;
}

@keyframes bounce {
    40%{
        transform: translateY(-6px); 
    }    
}

h2 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
    color: black;
}

p {
    font-weight: lighter;
    color: rgb(117, 117, 117);
    margin-top: 5px;
    margin-bottom: 5px; 
}

img {
    height: 180px;
    margin: 0 auto;
}


ul {    /* ul = #pokedex in pokedex app */
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

/* .modal = .popup */
#modal-container {   
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(117, 117, 117, 0.94);
    opacity: .95;
    display: flex;
    justify-content: center;
    align-items: center;
}


